<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Add Candidate</h1>
        <form action="/addCandidate" method="post">
            <div class="form-group">
                <label for="name">Candidate Name:</label>
                <input name="candidateName" type="text" class="form-control">
            </div>
            <input type="submit" value="Submit" class="btn btn-primary"><br><br>
        </form>
        <a href="/adminDashboard" class="nav-link btn btn-warning">Back</a>
        <% if (typeof message !=='undefined' ){ %>
            <h5 style="color: brown;">Message: <%= message %>
            </h5>
            <% } %>
                <% if (typeof success !=='undefined' ){ %>
                    <h5 style="color: green;">Message: <%= success %>
                    </h5>
                    <% } %>
    </div>
</body>

</html>