<!DOCTYPE html>
<html lang="en">

<head>
    <title>Category Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <h2>Category Details</h2>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        Category ID
                    </td>
                    <td>
                        <%= category._id %>
                    </td>
                </tr>
                <tr>
                    <td>
                        Category Name
                    </td>
                    <td>
                        <%= category.categoryName %>
                    </td>
                </tr>
                <tr>
                    <td>
                        Created At
                    </td>
                    <td>
                        <%= category.createdAt %>
                    </td>
                </tr>
                <tr>
                    <td>
                        Updated At
                    </td>
                    <td>
                        <%= category.updatedAt %>
                    </td>
                </tr>
            </tbody>
        </table>
        <a class="nav-item btn btn-primary" href="/category/categoryMaster">Back</a>

    </div>

</body>

</html>